@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

/* Left Container */
.redeem-container {
    margin: 0 auto;
    width: 1300px;
    display: flex;
    border: 3px solid red;
  }

.redeem-child {
    flex: 1;
    border: 3px solid blueviolet;
    height: 700px;
}  

.redeem-header{
    margin: 0px 0px 0px 10px;
}

.insert{
    margin: 0px 10px 0px 10px;
    border: 3px solid peru;
}

.dropzone-container{}

.insert-textfield{
    margin: 15px 0px 0px 0px;
}

.redeem-button{
    width: 80px;
    margin-top: 10px;
    margin-left: auto; 
    margin-right: 0;
}

/* Right Container */
.preview{
    display: block;
    margin: 15px 10px 0px 10px;
}

.preview-content{
    clear:both;
}

.preview-header{
    margin: 0px 0px 0px 10px;
}

/* Fonts */
h1 {
    font-size: 25px;
    color: #323232;
    word-break: break-word;
}
  