@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.redeem-container {
    margin: 0 auto;
    width: 1300px;
    display: flex;
    /* border: 3px solid red; */
  }

.redeem-child {
    flex: 1;
    height: 700px;
    /* border: 3px solid blueviolet; */
}  

.redeem-header{
    margin: 40px 0px 20px 10px;
}

/* Left Container */
.insert{
    margin: 0px 10px 0px 10px;
    /* border: 3px solid peru; */
}

.insert-header{
    /* border: 3px solid peru; */
    width: 200px;
    margin: 20px 0px 0px 15px;
}

.dropzone-container{
    /* border: 3px solid peru; */
}

.insert-textfield{
    margin: 7px 0px 0px 0px;
}

.insert-image{
    margin-bottom: 10px;
}

.insert-title{
    margin-top: 30px;
}

.insert-link{
    margin-top: 30px;
}

.insert-description{
    margin-top: 30px;
}

.redeem-button{
    width: 20px;
    margin-top: 20px;
    margin-left: 460px; 
    margin-right: auto;
}

button{
    outline: 0; 
    font-size: 15px;
    font-weight: 700;
    color: #444;
    background:#fff;
    border: none;
    padding: 1em 2em;
    transition: all .3s ease-out; 
    box-shadow: inset 0px -8px 0px 0px rgba(0,0,0,.2),
      1px 1px 0 0 #7fcd85,
      2px 2px 0 0 #7fcd85,
      3px 3px 0 0 #7fcd85,
      4px 4px 0 0 #7fcd85,
      5px 5px 0 0 #7fcd85,
      6px 6px 0 0 #7fcd85,
      7px 7px 0 0 #7fcd85,
      8px 8px 0 0 #7fcd85,
      9px 9px 0 0 #7fcd85,
      10px 10px 0 0 #7fcd85,
      11px 11px 0 0 #7fcd85,
      12px 12px 0 0 #7fcd85;
}

button:hover{
    color:#7fcd85;
}
  
button:active{
    color:#7fcd85;
    box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 #7fcd85,
      2px 2px 0 0 #7fcd85,
      3px 3px 0 0 #7fcd85,
      4px 4px 0 0 #7fcd85,
      5px 5px 0 0 #7fcd85;
}

/* Right Container */
.preview{
    display: block;
    margin: 0px 10px 0px 10px;

}

.preview-header{
    margin: 40px 0px 18px 10px;
}

.preview-content{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #636363;
    word-break: break-word;
    height: 20px;
    width: auto;
    /* margin-top: 8px; */
    padding: 10px;
    border: 1px solid #7fcd85;
    border-radius: 10px;
	box-shadow:  -1px 1px #7fcd85,
		 -2px 2px #7fcd85,
		 -3px 3px #7fcd85,
		 -4px 4px #7fcd85,
		 -5px 5px #7fcd85;
}

.preview-thumbnail {
    height: 200px;
    width: 200px;
    border: 1px solid #7fcd85;
	box-shadow:  -1px 1px #7fcd85,
		 -2px 2px #7fcd85,
		 -3px 3px #7fcd85,
		 -4px 4px #7fcd85,
		 -5px 5px #7fcd85;
    padding: 10px;

}

.preview-image{
    margin-bottom: 10px;
}

.preview-title{
    margin-top: 30px;
}

.preview-link{
    margin-top: 30px;
}

.preview-description{
    margin-top: 30px;
}

/* Fonts */
h1 {
    font-size: 25px;
    color: #323232;
    word-break: break-word;
}
