@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

.container {
  margin: 0 auto;
  width: 1300px;
  height: auto;
  border: 3px solid blue;
}

/* Header Container */
.header-collection {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  height: 60px;
  width: 900px;  
  border: 3px solid blue;
}

.header-collection > div
{
    flex: 1 1 auto;
}

.header-logo {
  height: 60px;
  width: 400px;  
}

.header-info{
  font-size: 14px;
  font-weight: 400;
  padding: 10px 10px;
}

/* Nav Links Container */
.nav-links{ 
  margin: 0 auto;
  width: 500px;
  height: 50px;
  border: 3px solid green;
}

/* Ad Space Container */
.ad{
  width: 1250px;
  height: auto;
  margin: 0 auto;
  display: flex;
  border: 3px solid orange;
}

.ad-collection{
  margin: 0 auto;
  display: inline-flex;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(1000, 1fr);
  display: inline-table;
}

.cell {
  width: 10px;
  height: 10px;
  margin: 0;
  padding:0;
  border: #0000ff 0.25px solid;
}

/* Fonts */

h1 {
  font-size: 25px;
  color: #323232;
  word-break: break-word;
}

