.gridContainer {
  display: grid;
  grid-template-columns: repeat(1000, 1fr);
  text-align: center;
  margin-left: 2.75%;
}

.cell {
  width: 10px;
  height: 10px;
  border: #0000ff 0.25px solid;
  margin: 0;
  padding:0;
}

.homePage {
    margin-bottom: 2.75%;
    background-color: white;
}

.pageHeader {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
